.filter-container {
    background-color: #fff; /* Background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for the 'lifted' effect */
    border-radius: 8px; /* Rounded corners */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px; /* Space below the filter */
}

    /* Optional: add some hover effect to enhance interactivity */
    .filter-container:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
    }


.product-detail__main-image img {
    width: 100%;
    height: auto;
    max-height: 440px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-detail__thumbnail {
    cursor: pointer;
    width: 80%;
    height: 80px; /* Adjusted height to make thumbnails smaller */
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s;
}

    .product-detail__thumbnail:hover {
        transform: scale(1.05);
    }

.product-detail__thumbnail-container {
    padding: 5px;
}

.product-detail__policy-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .product-detail__policy-item:hover {
        background-color: #e9ecef;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

.product-detail__policy-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
}

.product-detail__policy-content {
    font-size: 16px;
    color: #333;
}
