@model Infrastructure.Models.ViewModels.FeedbackVM;

<div class="feedback">
    <div class="feedback__header">
        <span class="feedback__username">@($"@{Model.Username}")</span>
        @{
            await Html.RenderPartialAsync("_StarRating", (double)Model.Rating);
        }
    </div>
    <p class="feedback__comment">@Model.Comment</p>
    <div class="feedback__created-at">Ngày đăng: @Model.CreatedAt.ToString("dd/MM/yyyy")</div>
</div>