@model Entities.User
@{
    ViewData["Title"] = "Signup";
}

<div class="container mt-3" style="display: flex; height: 60vh;">
    <div class="card shadow-lg" style="width: 24rem; margin: auto;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Đăng ký</h3>
            <form asp-action="Signup" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Username -->
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Nhập username" required>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Nhập password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Phone -->
                <div class="mb-3">
                    <label asp-for="Phone" class="form-label">Số điện thoại</label>
                    <input asp-for="Phone" type="text" class="form-control" placeholder="Nhập số điện thoại" required>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Address" class="form-control">Địa chỉ</label>
                    <input asp-for="Address" type="text" class="form-control" placeholder="Nhập địa chỉ" />
                </div>

                <!-- Sign Up Button -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                </div>
            </form>

            <!-- Already have an account -->
            <div class="text-center mt-3">
                <p>Already have an account? <a asp-action="Login" class="text-decoration-none">Đăng nhập</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
